---
import GitHub from "../icons/GitHub.astro";
import NextJS from "../icons/NextJS.astro";
import Tailwind from "../icons/Tailwind.astro";
import Link from "../icons/Link.astro";
import LinkButton from "./LinkButton.astro";
import ReactIcon from "../icons/ReactIcon.astro";
import Code from "../icons/Code.astro";
import CardSpotlight from "./Card";
import AstroIcon from "../icons/AstroIcon.astro";
import Supabase from "../icons/Supabase.astro";
import ShineBadge from "./ShineBadge.astro";
import AnimatedButton from "./AnimatedButton";

const TAGS = {
    NEXT: {
        name: "Next.js",
        class: "bg-black text-white",
        color: "#000",
        icon: NextJS,
    },
    TAILWIND: {
        name: "Tailwind CSS",
        class: "bg-[#003159] text-white",
        color: "#003159",
        icon: Tailwind,
    },
    ASTRO: {
        name: "Astro",
        class: "bg-[#0f0f0f] text-white",
        color: "#0f0f0f",
        icon: AstroIcon,
    },
    REACT: {
        name: "React",
        class: "bg-[#316979] text-white",
        color: "#316979",
        icon: ReactIcon,
    },
    SUPABASE: {
        name: "Supabase",
        class: "bg-[#298A5E] text-white",
        color: "#298A5E",
        icon: Supabase,
    },
};
const PROJECTS = [
    {
        title: "Ikerlan Esports - Torneo de League of Legends",
        description:
            "Apuntate, forma equipo y compite en el torneo de League of Legends organizado por Ikerlan Esports. Podras ver los resultados y participar en el pick'em.",
        link: "https://ikerlan-esports.eus",
        image: "/proyectos/ikerlan.webp",
        tags: [TAGS.ASTRO, TAGS.TAILWIND, TAGS.REACT, TAGS.SUPABASE],
    },
    {
        title: "MediaFetch - Descarga contenido multimedia",
        description:
            "Pega el link de tu contenido multimedia favorito y descargalo en el formato que prefieras. De momento solo soporta YouTube.",
        link: "https://media-fetch.vercel.app/youtube",
        image: "/proyectos/MediaFetch.webp",
        github: "https://github.com/MiKeLFernandeZz/MediaFetch",
        tags: [TAGS.ASTRO, TAGS.TAILWIND, TAGS.REACT],
    },
    {
        title: "ChapterChat - Comunidad de lectura en tiempo real",
        description:
            "Busca, ofrece y comparte libros con otros lectores. Chatea en tiempo real con otros amantes de la lectura.",
        link: "https://chapterchat-eight.vercel.app/",
        // github: "https://github.com/pheralb/svgl",
        image: "/proyectos/ChapterChat.webp",
        tags: [TAGS.NEXT, TAGS.TAILWIND, TAGS.SUPABASE],
    },
];
---

<section
    class="lg:max-w-4xl md:max-w-2xl mx-6 md:mx-auto py-24 flex flex-col gap-8"
>
    <div class="flex gap-3 items-center">
        <Code />
        <h2 class="text-3xl text-white font-semibold font-onest">Proyectos</h2>
    </div>
    <div class="flex flex-col gap-y-8">
        {
            PROJECTS.map(
                ({ image, title, description, tags, link, github }) => (
                    <CardSpotlight client:load>
                        <article class="flex flex-col space-x-0 space-y-8 group md:flex-row md:space-x-8 md:space-y-0">
                            <div class="w-full md:w-1/2">
                                <div class="relative flex flex-col items-center col-span-6 row-span-5 gap-8 transition duration-500 ease-in-out transform shadow-xl overflow-clip rounded-xl sm:rounded-xl md:group-hover:-translate-y-1 md:group-hover:shadow-2xl lg:border lg:border-gray-800 lg:hover:border-gray-700 lg:hover:bg-gray-800/50">
                                    <img
                                        alt="Recién llegado vs 5 años en Nueva Zelanda"
                                        class="aspect-[1.75] object-cover object-top w-full h-56 transition duration-500 sm:h-full md:scale-105 md:group-hover:scale-100"
                                        loading="lazy"
                                        src={image}
                                    />
                                </div>
                            </div>

                            <div class="w-full md:w-1/2 md:max-w-lg">
                                <h3 class="text-2xl font-bold text-gray-800 dark:text-gray-100">
                                    {title}
                                </h3>
                                <div class="flex flex-wrap mt-2">
                                    <ul class="flex flex-row flex-wrap mb-2 gap-2">
                                        {tags.map((tag) => (
                                            <li>
                                                <ShineBadge icon={tag} />
                                            </li>
                                        ))}
                                    </ul>

                                    <div class="mt-2 text-gray-700 dark:text-gray-400">
                                        {description}
                                    </div>
                                    <footer class="flex items-end justify-start mt-4 gap-x-4">
                                        {github && (
                                            // <LinkButton href={github}>
                                            //     <GitHub class="size-6" />
                                            //     Code
                                            // </LinkButton>
                                            <AnimatedButton client:load href={github}>
                                                Código
                                            </AnimatedButton>
                                        )}
                                        {link && (
                                            // <LinkButton href={link}>
                                            //     <Link class="size-4" />
                                            //     Preview
                                            // </LinkButton>
                                            <AnimatedButton client:load href={link}>
                                                Preview
                                            </AnimatedButton>
                                        )}
                                    </footer>
                                </div>
                            </div>
                        </article>
                    </CardSpotlight>
                ),
            )
        }
    </div>
</section>
